#product {
  margin-top: 20px;
  padding-bottom: 50px;
}

.card-img {
  transition: all .2s ease-in-out
}

.card-img:hover {
  box-shadow: 0 18px 30px -18px #000;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px)
}
